{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% url 'add_problem' as add_problem_url %}
    {% include 'inout.html' %}

    <table class="d-flex justify-content-center align-items-center">
        <tbody>
        <tr>
                {% include 'pieces/sticker.html' with content='Add problem' link=add_problem_url %}
            {% for i in problems|slice:":2" %}
                {% include 'pieces/sticker.html' with content=i%}
            {% endfor %}
        </tr>
        <tr>
            {% for i in problems|slice:"2:" %}
                {% include 'pieces/sticker.html' with content=i link=''%}
            {% endfor %}
            <td class="sticker-container"><a href="{% url 'list_active' %}">
                <img src="{% static 'img/sticker.png' %}" class="sticker-image">
                <span class="sticker-text">More</span>
            </a></td>
        </tr>
        </tbody>
    </table>
    <button type="button" id="openModalBtn">1</button>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var openModalBtn = document.getElementById('openModalBtn');
            var myModal = new bootstrap.Modal(document.getElementById('myModal'));
            openModalBtn.addEventListener('click', function () {
                myModal.show();
            });
        });
    </script>
{% endblock %}